.navTitle{
    font-family: Andale Mono, monospace;
    font-size: 1.75rem;
    color: #555;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: bold;
}

nav{
    background-color: #e3f2fd;
}

.selectBorder{
    border: 1px solid #ccc;
    margin-right: 1rem;
}

.selectSortBorder{
    border: 1px solid #ccc;
    width: 8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.radio-btn-default{
    display: flex;
    height: 1.5rem;
    width: 0.5rem;
    align-items: center;
    justify-content: center;
}

.addBtn{
    border: 1px solid #ccc !important;
    margin-right: 1rem;
}

.tableD{
    margin-top: 1rem;
}

.tableSaloni
{
    margin: 1rem 10rem 1rem 10rem;
}

.formBody{
    margin: 1rem 10rem 1rem 10rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(241, 248, 255);
}

.inputs-modal{
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.motor-input{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 0 !important;
}

.slider-group{
    display: flex;
    flex-direction: row;
}

.slider-group-input{
    width: 15rem !important
}

.motor-input-radio{
    margin-right: 1rem;
}

.op{
    display: flex;
}

.dropdown-scroll{
    overflow-y: scroll;
    height: 10rem;
}

.sorting{
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
}

.sorting-group{
    display: flex;
    flex-direction: row;
}